# 练习1-开始了解你的数据

## 探索Chipotle快餐数据

### 步骤1 导入必要的库

In [1]:
import pandas as pd

### 步骤2 导入数据集

In [2]:
path1 = "../data/chipotle.tsv"

### 步骤3 将数据集存入一个名为chipo的数据框内

In [3]:
chipo = pd.read_csv(path1, sep="\t")

### 步骤4 查看前10行内容

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 步骤5 数据集里多少观测数

In [5]:
chipo.shape

(4622, 5)

### 步骤6 数据集中有多少个列(columns)

In [6]:
chipo.shape[1]

5

### 步骤7 打印出全部的列名称

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 步骤8 数据集的索引是怎样的

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### 步骤9 被下单数最多商品(item)是什么?

In [9]:
# Solution 1
G1 = chipo.groupby('item_name')
G2 = G1.sum()
G3 = G2.sort_values(['quantity'],ascending=False)
G3.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [10]:
# Solution 2
chipo['item_name'].value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### 步骤10 在item_name这一列中，一共有多少种商品被下单？

In [11]:
chipo['item_name'].nunique()

50

### 步骤11 在choice_description中，下单次数最多的商品是什么？

In [12]:
chipo['choice_description'].value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

### 步骤12 一共有多少商品被下单？

In [13]:
chipo['quantity'].sum()

4972

### 步骤13 将item_price转换为浮点数

In [14]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

In [15]:
chipo['item_price'].dtype

dtype('float64')

### 步骤14 在该数据集对应的时期内，收入(revenue)是多少

In [16]:
revenue = (chipo['item_price'] * chipo['quantity']).sum()
revenue

39237.02

### 步骤15 在该数据集对应的时期内，一共有多少订单？

In [17]:
orders = chipo['order_id'].nunique()
orders

1834

### 步骤16 每一单(order)对应的平均总价是多少？

In [18]:
revenue = (chipo['item_price'] * chipo['quantity']).sum()
orders = chipo['order_id'].nunique()
orders_mean = revenue / orders
orders_mean

21.39423118865867

### 步骤17 一共有多少种不同的商品被售出？

In [19]:
chipo['item_name'].nunique()

50